<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.tiktoklogin" version="0.0.1"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>CordovaPluginTiktokLogin</name>
    <js-module name="CordovaPluginTiktokLogin" src="www/CordovaPluginTiktokLogin.js">
        <clobbers target="cordova.plugins.CordovaPluginTiktokLogin" />
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="CordovaPluginTiktokLogin">
                <param name="ios-package" value="CordovaPluginTiktokLogin" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>tiktokopensdk</string>
                <string>tiktoksharesdk</string>
                <string>snssdk1180</string>
                <string>snssdk1233</string>
            </array>
        </config-file>
        <config-file target="*-Info.plist" parent="TikTokAppID">
            <string>$TikTokAppID</string>
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$TikTokAppID</string>
                    </array>
                </dict>
            </array>
        </config-file>
        <source-file src="src/ios/CordovaPluginTiktokLogin.m" />
        <framework src="TikTokOpenSDK" type="podspec" spec="~> 5.0.14" />
        <framework src="WebKit.framework" />
        <framework src="Security.framework" />
    </platform>
</plugin>